@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
        if (User.IsInRole("Admin") || User.IsInRole("Lecturer") || User.IsInRole("ProgramCoordinator") || User.IsInRole("AcademicManager") || User.IsInRole("HR"))
        {
            <p>Use the navigation bar to access your dashboard.</p>
        }
        else
        {
            <p>HR must first complete your account setup before you may access application functionality.</p>
        }
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>Login to access application functionality.</p>
    }
</div>
