@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No data is shared with third parties. If registered you may download a copy of your data or delete it along with your account.</p>
